---
layout: index-layout
---

<style>
.portfolio-teaser{
  max-height: 70%;
}
.portfolio-content{
  height: 300px !important;
}

</style>
<div class="home">

<div id='content'>
<h2 class='page-header ph-center'>Portfolio</h3>
<div class='row col-xs-12' id='portfolio'>
  {% assign sorted_projects = site.projects | sort: 'order' %}
    {% for project in sorted_projects %}
    <div class='col-md-4 col-sm-6 col-xs-12 portfolio-content'>
      <a href="{{project.url | prepend: site.baseurl}}">
        <img class='img img-responsive portfolio-teaser' src="{{project.thumb | prepend: site.baseurl}}" />
      <div class="carousel-caption">
           {% if project.overlay %}
            <img class='overlay' src="{{project.overlay | prepend: site.baseurl}}"/>
          {% endif %}
          {% if project.overlayName %}
            <h4 class='overlay-name'><i>{{project.overlayName}}</i></h4>
          {% endif %}
     </div>
     <h3>{{project.title}}</h3>
    </a>
    </div>
    {% endfor %}
</div>


<hr />

<h2 class='page-header ph-center' id='blog-header'>Blog</h3>
  <ul class="post-list" id='blog'>
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
</div>

<script>
$(document).ready(function(){
  $(".portfolio-content").find(".carousel-caption").hide();
	$(".portfolio-content").mouseenter(function(){
		$(this).find(".carousel-caption").show();
	});
$(".portfolio-content").mouseleave(function(){
		$(this).find(".carousel-caption").hide();
	});
})
</script>
