#photoContainer2{
	padding:0%;
	margin:0%;
	background-image: url("../assets/ukdm1.jpg");
	background-repeat:no-repeat;
	background-position: center bottom;
	background-size:cover;
}
#titleSlide{
	padding:0%;
	margin:0%;
	background-image: url("../assets/final/overview.png");
	background-repeat:no-repeat;
	background-position: center bottom;
	background-size:cover;
}



body {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;									
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    	cursor: pointer; 
	cursor: hand;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Times New Roman";
}

