<section id="one" class="tiles">
								<article>
									<span class="image">
													<img src="{{ site.url }}/assets/not_scenic.jpg" alt="" />
									</span>
												<header class="major">
																<h3><a href="./machine-learning/2019/10/01/scenic-routing.html" class="link">Scenic</a></h3>
																<p>A routing app that routes users through a road graph by optimizing the amount of scenery encountered along the route.</p>
												</header>
								</article>
								<article>
									<span class="image">
													<img src="{{ site.url }}/assets/IAM_Landing.png" alt="" />
									</span>
												<header class="major">
																<h3><a href="http://paleo.geography.wisc.edu" class="link">Ice Age Mapper</a></h3>
																<p>A tool to visualize ecological change since the last ice age across space and time</p>
												</header>
								</article>

								<article>
									<span class="image">
													<img src="{{ site.url }}/assets/open_digit.jpg" alt="" />
									</span>
												<header class="major">
																<h3><a href="http://opendigit.github.io" class="link">Open Digit</a></h3>
																<p class='p-black'>A collaborative project to build a global database of infectious disease cases to facilitate machine learning in epidemiology</p>
												</header>
								</article>
								<article>
									<span class="image">
													<img src="{{site.url}}/assets/training_examples_totalTime.png" alt="" />
									</span>
												<header class="major">
																<h3><a href="{{ site.url }}/assets/FarleyThesis_FINAL.pdf" class="link">Optimizing computing resource requirements for ecological forecasting models </a></h3>
																<p class='p-black'>A tool to visualize ecological change since the last ice age across space and time</p>
																<p class='p-black'>Masters Thesis, University of Wisconsin</p>
												</header>
								</article>

								<article>
									<span class="image">
													<img src="{{ site.url }}/assets/niche_viewer.png" alt="" />
									</span>
												<header class="major">
																<h3><a href="http://grad.geography.wisc.edu/cds/map.html" class="link">Climatology Data Service</a></h3>
																<p>A web service to serve 1 million years of high resolution global climate model output over an HTTP interface</p>
												</header>
								</article>
								<article>
									<span class="image">
													<img src="{{site.url}}/assets/wooden_ships.png" alt="" />
									</span>
												<header class="major">
																<h3><a href="http://wooden-ships.github.io" class="link">Wooden Ships</a></h3>
																<p>A collaborative project to visualize a century of maritime logs. </p>
																	<p><i><b>Winner</b>, NACIS Best Stuent Project, Group Category </i> </p>
												</header>
								</article>

								<article>
									<span class="image">
													<img src="" alt="" />
									</span>
												<header class="major">
																<h3><a href="" class="link">Firesphere</a></h3>
																<p>An app and web service ecosystem to provide real-time, high resolution fire risk information
																to firefiighters and community residents.</p>
												</header>
								</article>
</section>
