<html>
	<head>
		<title>Scott Farley | CV</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href='css/cv.css'>
				<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83006302-2', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body>
{% include nav.html %}

		<div class='row'>
			<div class='col-xs-10 col-sm-3'>
				<ul class='col-xs- col-sm-12 hidden-xs' data-spy='affix' id='TOC'>
					<li class='no-bullet'><h4>Contact Me</h4></li>
					<li class='no-bullet'><span class='glyphicon glyphicon-earphone text-muted'></span><strong class='contact-detail small'>  <a href='tel:626-264-0741'>626.264.0741</a></strong></li>
					<li class='no-bullet'><span class='glyphicon glyphicon-envelope text-muted'></span><strong class='contact-detail small'>  <a href="mailto:sfarley2@wisc.edu">sfarley@wisc.edu</a></strong></li>
					<li class='no-bullet'><span class='glyphicon glyphicon-menu-right text-muted'></span><strong class='contact-detail small'><a href='http://twitter.com/scottsfarley93'> @scottsfarley93</a></strong></li>
					<li class='no-bullet'><span class='glyphicon glyphicon-menu-right text-muted'></span><strong class='contact-detail small'><a href='http://github.com/scottsfarley93'>  GitHub</a></strong></li>
					<li class='no-bullet'><span class='glyphicon glyphicon-menu-right text-muted'></span><strong class='contact-detail small'><a href='https://www.linkedin.com/in/scott-farley-25902581'>  LinkedIn</a></strong></li>
					<li class='no-bullet'><h5 class='text-muted'>My CV</h5></li>
					<li id='vision-menu' class='no-bullet active-menu'><a href='#cv-vision'>Vision</a></li>
					<li id='education-menu' class='no-bullet'><a href='#cv-education'>Education</a></li>
					<li id='tech-menu' class='no-bullet'><a href='#cv-tech'>Technical Skills</a></li>
					<li id='work-menu' class='no-bullet'><a href='#cv-work'>Work Experience</a></li>
					<li id='honors-menu' class='no-bullet'><a href='#cv-honors'>Honors</a></li>
					<li id='leadership-menu' class='no-bullet'><a href='#cv-leadership'>Leadership</a></li>
					<li id='publications-menu' class='no-bullet'><a href='#cv-publications'>Publications</a></li>
					<li id='presentations-menu' class='no-bullet'><a href='#cv-presentations'>Presentations</a></li>
					<br />
					<li class='no-bullet'><strong class='text-muted small'><a href="assets/scott_resume.pdf">Downloadable PDF</a></strong></li>
				</ul>
			</div>
<div class='col-sm-8 col-xs-8 col-xs-offset-1 col-sm-offset-0'>
    	<div id='cv-vision'>
			<h2 class='page-header' >Vision</h2>
			<div class='row'>
				<blockquote class='text-muted'>
			<p>I am interested in designing and creating technological solutions that assist community members and policymakers in making important environmental decisions.  With anthropogenic global climate change threatening multiple facets of society, I anticipate a strong need for effective data analysis, synthesis, and visualization, that will facilitate informed decision-making in everything from emergency management to agriculture.  I am aiming for a career in which I can drive the conception and implementation of these systems while incorporating complex datasets, stakeholder needs, and state-of-the-art visualization and analysis techniques into productive tools.  </p>
    		</blockquote>
    		</div>
    	</div>


    	<div id='cv-education'>
    		<h2 class='page-header' >Education</h2>
    		<div class='row content-row'>
	    		<div class='row'>
		    		<h4 class='col-sm-8'>Masters of Science, Cartography & GIS</h4>
		    		<i class='col-sm-4 right'>Anticipated Spring 2017</i>
	    		</div>
	    		<div class='row'>
	    			<h5 class='col-sm-8'>University of Wisconsin, Madison</h5>
	    		</div>
	    		<div class='row'>
	    			<blockquote class='small text-muted'>

	    			<p>Masters Thesis Project:  Optimizing Hardware Configuration and Algorithm Inputs for Climate-Driven Ecological Forecasting Models</p>
	    			<p>Masters Thesis Advisors: Jack Williams</p>
	    			<p>Coursework To Date:</p>
						<ul>
							<li>
								Geocomputing
							</li>
							<li>
								Principles of Cartography
							</li>
							<li>
								Interactive Cartography
							</li>
							<li>
								Advanced Statistical Methods for Climate Science
							</li>
							<li>
								Abrupt Change in Ecological Systems
							</li>
							<li>
								Methods in Biogeography
							</li>
						</ul>
	    			</blockquote>
	    		</div>
	    	</div>

    	 <div class='row content-row'>
	    		<div class='row'>
		    		<h4 class='col-sm-8'>Bachelors of Arts with Honors, Geography</h4>
		    		<i class='col-sm-4 right'>2014</i>
	    		</div>
	    		<div class='row'>
	    			<h5 class='col-sm-8'>University of California, Berkeley</h5>
	    		</div>
	    		<div class='row'>
	    			<blockquote class='small text-muted'>
	    				<p>GPA: 3.84</p>
	    				<p>Honors Thesis: Geographic Information System Modeling of Wildfire Behavior and Forest Hazard</p>
	    				<p>Undergraduate Thsis Advisor: John Radke</p>
	    				<p>Academic Emphases: Geographic Information Science, Earth Systems Science, Human-Environment Interactions, Physical Geography</p>
	    	</blockquote>
	    		</div>
	    	</div>
    	</div>
    	  <div id='cv-tech'> <h2 class='page-header' >Technical Skills</h2>

  	<div class='row'>
  		<div class='col-sm-4'>
  			<h4 class='strong'>Geospatial</h4>
  			<ul class='no-bullet'>
  				<li class='text-muted'>ArcGIS for Desktop</li>
  				<li class='text-muted'>QGIS</li>
  				<li class='text-muted'>CartoCSS & MapBox Studio</li>
  				<li class='text-muted'>Open Source geoprocessing tools</li>
  			</ul>
  		</div>
  		<div class='col-sm-4'>
  			<h4 class='strong'>Languages</h4>
  			<ul class='no-bullet'>
					<li class='text-muted'>R</li>
  				<li class='text-muted'>Python</li>
  				<li class='text-muted'>HTML & CSS</li>
  				<li class='text-muted'>Javascript</li>
  				<li class='text-muted'>MySQL</li>
  				<li class='text-muted'>PHP</li>
  			</ul>
  		</div>
  		<div class='col-sm-4'>
  			<h4 class='strong'>Other</h4>
  			<ul class='no-bullet'>
					<li class='text-muted'>Machine Learning and Predictive Modeling</li>
  				<li class='text-muted'>Adobe Creative Cloud Suite</li>
  				<li class='text-muted'>Microsoft Office Suite</li>
  				<li class='text-muted'>Full-stack workflows</li>
  				<li class='text-muted'>Titanium & cross-platform development</li>

  			</ul>
  		</div>

  	</div>


  </div>

    	<div id='cv-work'>
    		<h2 class='page-header' >Work Experience</h2>

				<div class='row  content-row'>
						<div class='row'>
							<h4 class='col-sm-8'>Laboratory Instructor</h4>
							<i class='col-sm-4 right'>8/2016 - present</i>
						</div>

						<div class='row'>
							<h5 class='col-sm-8'>University of Wisconsin, Madison</h5>
						</div>
						<div class='row'>
							<blockquote class='small text-muted'>
							<p>
								Supervise and manage student progress in the introductory applied programming course offered by the UW geography department (<a href="https://www.geography.wisc.edu/courses/">Geography 378</a>).
								Develop lab assigments, worksheets, and exercises to promote student problem solving, computational thinking, and familiarity with prominent geocomputing tools.
							</p>
							</blockquote>
						</div>

	    	<div class='row  content-row'>
		    		<div class='row'>
			    		<h4 class='col-sm-8'>CEO</h4>
			    		<i class='col-sm-4 right'>8/2014 - 12/2015</i>
		    		</div>

		    		<div class='row'>
		    			<h5 class='col-sm-8'>Firesphere, LLC</h5>
		    		</div>
		    		<div class='row'>
		    			<blockquote class='small text-muted'>
		    			<p>Founded and now managed a firm to to develop wildfire risk modeling technology for use in residential areas.
								Designed and implemented a mobile app-web portal coupled system to facilitate communication of model outputs
								and a server-side computation system for calculate potenital fire behavior at high spatial and temporal resolutions.
								Managed company assets, interacted with community residents and emergency officials, and promoted the service at <a href="http://www.lamorindaweekly.com/archive/issue0910/FireSphere-Bringing-satellite-imagery-down-to-earth.html">community events</a>.</p>
		    			</blockquote>
		    		</div>

		    	  <div class='row content-row'>
		    		<div class='row'>
			    		<h4 class='col-sm-8'>Researcher</h4>
			    		<i class='col-sm-4 right'>1/2014 - 8/2015</i>
		    		</div>
		    		<div class='row'>
		    			<h5 class='col-sm-8'>University of California, Berkeley</h5>
		    		</div>
		    		<div class='row'>
		    			<blockquote class='small text-muted'>
		    				<p>Created a robust history of climate and vegetation in California for the last 22,000 years using statistical and machine-learning methods.  Planned, developed, and implemented a centralized system for storing and visualizing paleoecological datasets to facilitate data sharing and exploration while minimizing the potential of data corruption and loss. This project is <a href="http://github.com/scottsfarley93/ByrneLab">open source</a> and the beta testing version is <a href="http://calpalyn.berkeley.edu">hosted by UC Berkeley.</a></p>
		    		</blockquote>	</div>
		    	</div>

	    	   <div class='row content-row'>
		    		<div class='row'>
			    		<h4 class='col-sm-8'>Teaching Assistant</h4>
			    		<i class='col-sm-4 right'>1/2015 - 5/2015</i>
		    		</div>
		    		<div class='row'>
		    			<h5 class='col-sm-8'>University of California, Berkeley</h5>
		    		</div>
		    		<div class='row'>
		    			<blockquote class='small text-muted'>
		    			<p>Worked with advanced graduate students in UC Berkeley's <a href="http://guide.berkeley.edu/search/?P=LD%20ARCH%20205">environmental planning capstone</a> course to improve student's understanding of geospatial data collection, manipulation, and modeling in support of class projects.</p>

		    			</blockquote>

		    		</div>
		    	</div>

    	<div id='cv-honors'>
    <h2 class='page-header' >Honors</h2>

		<div class='row content-row'>
				<div class='row'>
					<p class='col-sm-8 text-muted small'>Graduate Research Fellowship: Honorable Mention, National Science Foundation</p>
					<i class='col-sm-4 right'>2017</i>
				</div>
			</div>

		<div class='row content-row'>
				<div class='row'>
					<p class='col-sm-8 text-muted small'>Odelbolt Travel Award, Dept. of Geography, University of Wisconsin, Madison</p>
					<i class='col-sm-4 right'>2016</i>
				</div>
			</div>

		<div class='row content-row'>
				<div class='row'>
					<p class='col-sm-8 text-muted small'>Trewartha Research Grant, Dept. of Geography, University of Wisconsin, Madison</p>
					<i class='col-sm-4 right'>2016</i>
				</div>
			</div>
    	<div class='row content-row'>
	    		<div class='row'>
		    		<p class='col-sm-8 text-muted small'>University Fellowship, University of Wisconsin, Madison</p>
		    		<i class='col-sm-4 right'>2015</i>
	    		</div>
	    	</div>
       	<div class='row content-row'>
    		<div class='row'>
	    		<p class='col-sm-8 text-muted small'>Odebolt Fellowship, University of Wisconsin, Madison</p>
	    		<i class='col-sm-4 right'>2015</i>
    		</div>
    	</div>

	   <div class='row content-row'>
    		<div class='row'>
	    		<p class='col-sm-8 text-muted small'>Member, Phi Beta Kappa Honors Society</p>
	    		<i class='col-sm-4 right'>2014</i>
    		</div>
    	</div>

	   <div class='row content-row'>
    		<div class='row'>
	    		<p class='col-sm-8 text-muted small'>Nuefield Award at Graduation, University of California, Berkeley</p>
	    		<i class='col-sm-4 right'>2014</i>
    		</div>
    	</div>

   	<div class='row content-row'>
    		<div class='row'>
	    		<p class='col-sm-8 text-muted small'>Summer Undergraduate Research Fellowship, University of California, Berkeley. </p>
	    		<i class='col-sm-4 right'>2013</i>
    		</div>
    	</div>
	 	   <div class='row content-row'>
    		<div class='row'>
	    		<p class='col-sm-8 text-muted small'>Dean's List, College of Letters & Science, University of California, Berkeley</p>
	    		<i class='col-sm-4 right'>2012 & 2014</i>
    		</div>
    	</div>



  </div>



    	<div id='cv-leadership'> <h2 class='page-header' >Leadership</h2>
    		<div class='row content-row'>
    			<div class='row'>
    				<h4 class='col-sm-8'>
    					Team Captain
    				</h4>
    				<i class='col-sm-4 right'>2014</i>
    			</div>
    			<div class='row'>
    				<h5 class='col-sm-8'>Cal Men's Swim Team</h5>
    			</div>
    			<div class='row'>
		    		<div class='row'>
		    			<blockquote class='small text-muted'>
		    				<p>Worked with co-captains to ensure the collective success of a 33-member team, both in athletics and academics.  Led the team to conference and national team championship titles in 2014.  </p>
		    			</blockquote>
		    			 		</div>
    		</div>

    		<div class='row content-row'>
    			<div class='row'>
    				<h4 class='col-sm-8'>Golden Bear Advisory Committee</h4>
    				<i class='col-sm-4 right'>2012 - 2014</i>
    			</div>
    			<div class='row'>
    				<h5 class='col-sm-8'>University of California, Dept. of Intercollegiate Athletics</h5>
    			</div>
    			<div class='row'>
		    		<div class='row'>
		    			<blockquote class='small text-muted'>
						<p>Represented Men's Swimming in a council tasked with negotiating campus relations with student-athletes and planning department-wide student activities.  Emphasized work on promoting sustainability within the student-athlete community, including the implementation of a zero-waste strategy for a dinner for approximately 1000 guests. </p>
		    		</blockquote>  			</div>
    		</div>

    		<div class='row content-row'>
    			<div class='row'>
    				<h4 class='col-sm-8'>National Outdoor Leadership School</h4>
    				<i class='col-sm-4 right'>2012</i>
    			</div>
    			<div class='row'>
    				<h5 class='col-sm-8'>North Cascades Mountaineering</h5>
    			</div>
    			<div class='row'>
		    		<div class='row'>
		    			<blockquote class='small text-muted'>
		    				<p>Student on a 30 day backpacking and technical mountaineering course in the North Cascades of Washington State.  Learned and practiced various styles of leadership in stressful backcountry situtations.  </p>
		    		</blockquote>   			</div>
    		</div>


    	</div>
    	<div id='cv-publications'> <h2 class='page-header' >Publications</h2>
				<div class='row content-row'>
					<p class='text-muted small'>Farley, Scott and John Williams (2016).  Predicting Execution Time of Climate-Driven Ecological Forecasting Models. Proceedings of the 6th International Workshop on Climate Informatics. Sept 20-22. Boulder, CO.
				</div>
    		<div class='row content-row'>
    			<p class='text-muted small'>Farley, Scott (2014).  GIS Modeling of Wildfire Behavior and Forest Hazard (Undergraduate Honors Thesis).
    		</div>

    		<div class='row content-row'>
    			<p  class='text-muted small'>Farley, Scott. (2013). Modeling Wildfire Hazard with a Geographic Information System. Berkeley Undergraduate Journal, 26(3). <a href='http://escholarship.org/uc/item/9g0712nq'>Online.</a></p>
    		</div>

    	</div>
    	<div id='cv-presentations'>
    		<h2 class='page-header' >Selected Presentations</h2>

				<div class='row content-row'>
					<p class='text-muted small'>"Using Paleobiodiversity Database to Reconstruct Ancient Land Cover".  Digital Resources in Paleontological Research Workshop. March 2017.</p>
				</div>

				<div class='row content-row'>
					<p class='text-muted small'>"Optimizing Computing Platforms for Climate-Driven Ecological Forecasting Models" (poster).  International Biogeography Society Biennial Meeting. January 2017.</p>
				</div>


				<div class='row content-row'>
					<p class='text-muted small'>"Optimizing Computing Platforms for Climate-Driven Ecological Forecasting Models".  American Geophysical Union Fall Meeting. December 2016.</p>
				</div>


				<div class='row content-row'>
					<p class='text-muted small'>"Predicting Execution Time of Climate-Driven Ecological Forecasting Models".  6th International Workshop on Climate Informatics. September 2016.</p>
				</div>

				<div class='row content-row'>
					<p class='text-muted small'>"Paleoviewer: An enhanced toolkit for visualizing multidimensional Quaternary environmental change".  American Quaternary Association Biennial Meeting. June 2016.</p>
				</div>

				<div class='row content-row'>
					<p class='text-muted small'>"Paleoecological Visualization: Where we are and where we're going."  Neotoma Paleoecological Database Biennial Meeting.  Invited Speaker.  December 2015.</p>
				</div>

    		<div class='row content-row'>
    			<p class='text-muted small'>"Crowdsourcing Fuel Observations and Communicating Wildfire Risk Models."  Orinda, CA Community Emergency Response Team.  Invited Speaker.  August 2015.</p>
    		</div>

    		<div class='row content-row'>
    			<p class='text-muted small'>"Modeling Wildfire Behavior witih FlamMap and Firesphere."  UC Berkeley, Environmental Modeling Course (Landscape Architecture 221).  Invited Lecturer.  April 2015.</p>
    		</div>

    		<div class='row content-row'>
    			<p class='text-muted small'> "Modeling Paleo-vegetation Patterns with Boosted Regression Trees."  UC Berkeley, Initiative for Global Change Biology Fall Symposium.  December 2014.</p>
    		</div>

    		<div class='row content-row'>
    			<p class='text-muted small'>"GIS Modeling of Wildfire Risk and Forest Hazard." UC Berkeley, Honors Thesis Symposium.  May 2014.  </p>
    		</div>

    		<div class='row content-row'>
    			<p class='text-muted small'>"Modeling Wildfire Behavior with FlamMap."  UC Berkeley, Environmental Modeling Course (Landscape Architecture 221).  Invited Lecturer.  April 2014.</p>
    		</div>

    		<div class='row content-row'>
    			<p class='text-muted small'> "Modeling of Wildfire Hazard with a Geographic Information System." UC Berkeley, Summer Undergraduate Research Fellowship Symposium. August 2013.</p>
    		</div>

    	</div>
			</div>
		</div>
		<hr/>
    {% include footer.html %}
		<script
		  src="https://code.jquery.com/jquery-3.1.1.js"
		  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
		  crossorigin="anonymous"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="js/cv.js"></script>
	</body>
</html>
