<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <!---Main landing--->
    <div class='jumbotron' id='landing-main'>
      <div class='container-fliud col-xs-12' id='landing-container'>
          <h1 class='shadow'>Scott Sherwin Farley</h1>
          <p class='shadow'><a href='{{site.url}}/index.html#content'>Projects</a>
            &middot; <a href='{{site.url}}/index.html#blog'>Research Blog</a></p>
          <!-- <footer class='shadow' >
            <ul class='list-inline'>
                <li class='no-bullet'><span class='glyphicon glyphicon-earphone text-muted'></span><strong class='contact-detail small'>  <a href='tel:626-264-0741'>626.264.0741</a></strong></li>
                <li class='no-bullet'><span class='glyphicon glyphicon-envelope text-muted'></span><strong class='contact-detail small'>  <a href="mailto:sfarley2@wisc.edu">sfarley@wisc.edu</a></strong></li>
                <li class='no-bullet'><span class='glyphicon glyphicon-menu-right text-muted'></span><strong class='contact-detail small'><a href='http://twitter.com/scottsfarley93'> @scottsfarley93</a></strong></li>
                <li class='no-bullet'><span class='glyphicon glyphicon-menu-right text-muted'></span><strong class='contact-detail small'><a href='http://github.com/scottsfarley93'>  GitHub</a></strong></li>
                <li class='no-bullet'><span class='glyphicon glyphicon-menu-right text-muted'></span><strong class='contact-detail small'><a href='https://www.linkedin.com/in/scott-farley-25902581'>  LinkedIn</a></strong></li>
          </ul>
          </footer> -->
        </div>
    </div>

   {{ content }}



  </body>

</html>
